

.button {
	border: 1px solid #bbb;
	border-radius: 3px 4px 5px 3px;
	background-color: #ccc;
	display:inline-block;
	padding:10px 20px 10px 20px;
	margin: 10px 10px 10px 10px;
	color:#fff;
	min-width:4em;
	text-align:center;

}
.button:hover {
	background-color: #ccc;
	border-color:#333;
}

.button:active {
  box-shadow: 0px 0px 0px;
  -webkit-transform: translate(1px, 1px);
  -moz-transform: translate(1px, 1px);
  transform: translate(1px, 1px);
}


.success {
	border-color:#4fbe61;
	background-color:#5fbe61;
}
.success:hover {
	border-color:#333;
	background-color:#6fce61;
}

.info {
	border-color:#42A6DD;
	background-color:#42A6DD;
}

.info:hover {
	border-color:#64B7EE;
	background-color:#64B7EE;
}

.warning {
		border-color:#af3b55;
		background-color:#af3b51;
}

.warning:hover {
		border-color:#333;
		background-color:#bf3b51;
}

#map-canvas {
	height:400px;
	max-height:400px;
	max-width:800px;
	margin: 0 auto;
}

.form {
	padding:25px;
	width:800px;
	margin: 0 auto;
	color:#444;
}

#submit {
  margin-left:2px;
}

.header {
	margin: 0 auto;
	text-align: center;
	color:#444;
}

.full-pad {
	padding:0 2em 0 2em;
}

#myChart {
    max-width: 90%;
    height: 20em;
    margin: 0 auto;
}
