body {
	font-family: 'helvetica';
	font-size:1.2em;
	margin:0 auto;
	text-align:center;
}
form {
	margin: 0 auto;
	width:250px;
	background:-webkit-linear-gradient(top, #ddd, #ccc);
	border-radius:5px;
	height:350px;
	border:1px solid rgba(205,205,205,0.3);
	box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
}

button {
	background: -webkit-linear-gradient(top, #00b5e5, #008db2);
	border-radius:3px;
	border:1px solid #007998;
	background-color: #00a1cb;
	height:50px;
	width:50px;
	margin:5px;
	font-size:1.0em;
	color: white;
	text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
}
#submit {
	width:170px;
}

#entryBox {
	margin: 0 auto;
	margin-top:10px;
	height:1em;
	width :170px;
	font-size: 1.3em;
	border:2px solid rgba(210,0,0,0.5);
	background:-webkit-linear-gradient(top, #444, #111);
	color:rgba(250,0,0,0.5);
	box-shadow: inset 0px 1px 0px rgba(9, 9, 9, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
}
