body {
  width: 50%;
  margin: 0 auto;
  font-family: 'Ubuntu Mono';
}

h1 {
  font-size: 16px;
}

input {
  font-family: 'Ubuntu Mono';
}

fieldset {
  margin-top: 10px;
}

@media(max-width: 768px) {
  body {
    width: 100%;
  }
  main {
    padding: 10px;
  }
  fieldset:first-of-type label {
    display: block;
  }
  ul {
    padding-left: 0;
  }
  ul li {
    margin-top: 20px;
  }
}
