body {
  width: 50%;
  margin: 0 auto;
  font-family: 'Ubuntu Mono';
}

h1 {
  font-size: 16px;
}

input {
  font-family: 'Ubuntu Mono';
}

fieldset {
  margin-top: 10px;
}

@media(max-width: 768px) {
  body {
    width: 100%;
  }
  main {
    padding: 10px;
  }
  fieldset:first-of-type label {
    display: block;
  }
  ul {
    padding-left: 0;
  }
  ul li {
    margin-top: 20px;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  background: #fefefe;
  color: #333;
  padding: 20px 50px 50px;
}

.modal .close {
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 50%;
  border: 1px solid #111;
  height: 19px;
  width: 19px;
  text-align: center;
  background: none;
}

.inline-list {
  display: flex;
}
.inline-list > li {
  display: inline;
  flex: 1;
}

dl > dt {
  font-size: 1.1rem;
  padding-top: 10px;
}
