<br>
<div class="center" ng-controller="EricularController as ericular">
    <div >
        <img height="48" width="48" alt="Angular icon" src='../images/angular.png' ng-click="ericular.togglePassword()">
        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    </div><br>

    <div id="bindingFeature" class="photo grid grid-pad">
        <div class="col-4-12">
            <p><h3>Two-way data binding</h3></p>
        </div>
        <div class="col-4-12">
            <p>
                <form>
                    <input size="32" ng-model="ericular.form">
                </form>
            </p>
        </div>
        <div class="col-4-12">
            <p>{{ericular.form}}</p>
        </div>
    </div>

    <div id="callbackFeature" class="photo grid grid-pad">
        <div class="col-4-12">
            <h4>Bind a callback to any object when clicked</h4>
        </div>
        <div class="col-4-12">
            <button class="button angularRed" href="" ng-click="ericular.changeText()">Click for callback</button>
        </div>
        <div class="col-4-12">
            <p>{{ericular.text}}</p>
        </div>
    </div>

    <div id="callbackFeature" class="photo grid grid-pad">
        <div class="col-4-12">
            <h4>And I mean any object.</h4>
        </div>
        <div class="col-4-12">
             <p>Try clicking on the angular image at the top!</p>
        </div>
        <div class="col-4-12">
            <p>{{ericular.password}}</p>
        </div>
    </div>

    <div id="directivesFeature" class="photo grid grid-pad">
        <div class="col-4-12">
            <h4>Built-in Directives</h4>
        </div>
        <div class="col-4-12">
            <p>There are numerous pre-built directives in Angular such as ng-show and ng-hide</p>
        </div>
        <div ng-click="ericular.toggleOption()" class="col-4-12">
             <p ng-hide="ericular.option">
                This paragraph element only hides when you click it...
            </p>
        </div>
        <div class="col-4-12">
            <p ng-show="ericular.option">
                ...and this paragraph element only shows after you've clicked!
            </p>
        </div>
    </div>
    <custom-directive></custom-directive>
</div>
