
body {
  width:100%;
  font-family: 'Roboto Condensed', sans-serif;
  font-color:#fff;
  font-style:none;
  letter-spacing: 0.0em;
  }

nav {
  width:100%;
  border:1px solid #000;
  border-radius:3px;
	background-color:#333;
	color:#eee;
	margin: 0% 2% 0% 2%;
	padding:0.7em 0 0.8em 0;
	overflow:hidden;
	position: relative;
	font-size:1.2em;
}

li {
	display:inline-block;
	margin-right:1.2em;

}

ul {
 list-style: none;
 margin:0em 0em 0em 1em;
 padding:0;
 text-align:center;
}

ul li a {
  text-decoration: none;
  font-family:"Montserrat", "Arial";
  color:#FFF;
  font-size:0.9em;
}

ul li a:hover {
  color:#EFF;
}

.footer {

	border-top: 5px solid #333;
	padding:0.5em 0em 1em 1em;
	margin: 3em 2% 2% 2%;
	font-size:0.9em;
	 	clear:both;

}

.image {
  width:;
	border:1px solid #aaa;
	border-radius:3px;
	padding: 1% 1% 3% 1%;
	background-color:#ccc;
	background-size:;
	margin:0em 5% 4% 5%;
}


a {
	color: #aaa;
	text-decoration: none;
}

a:hover {
	color:#888;
}

 main {
 		font-size:1.2em;
 	color:#333;
 	margin: 5% 5% 5% 5%;
 }

.right {
	float:right;
}

.center {
		text-align:center;
}
.left {
	padding:10% 0 10% 0;
	width:20em;
	float:left;
}


.content {
  max-width:18em;
	padding:2% 2% 0 2%;
	margin:2.5% 2.5% 5% 5%;

}
.button {
	border: 1px solid #bbb;
	border-radius: 4px;
	background-color: #ccc;
	display:inline-block;
	padding:10px 20px 10px 20px;
	margin: 10px 10px 10px 10px;
	color:#fff;
	min-width:4em;
	text-align:center;

}
.button:hover {
	background-color: #bbb;
	border-color:#333;
}

.title {
	margin: 0 3% 0 1em;
	display:inline-block;

}

.title a {
	color:#81D8D0;
	font-weight: bold;
	font-size:1.2em;
}

.inner-nav {
	font-color:#fff;
	list-style: none;
	font-style:none;
	display:inline-block;
}

.success {
	border-color:#4fbe61;
	background-color:#5fbe61;
}
.success:hover {
	border-color:#333;
	background-color:#6fce61;
}

.info {
	border-color:#71C8C0;
	background-color:#81D8D0;
}

.info:hover {
	border-color:#333;
	background-color:#88DFD7;
}
.warning {
		border-color:#af3b55;
		background-color:#af3b51;
}
.warning:hover {
		border-color:#333;
		background-color:#bf3b51;
}

.right-footer {
	margin: 0em 1em 0em 0em;
}



/* Credit to the following to one-div.com */

.twitter {
position: relative;
font-size: 20px;
height: 2em;
width: 2em;
background: #2C2C2C;
display: block;
border-radius: 0.3em;
}
.twitter::before {
left: 0.55em;
top: 0.4em;
position: absolute;
display: block;
content: "";
height: 1.2em;
width: 0.32em;
background: #2C2C2C;
border-radius: 0.5em 0.5em 0 0.9em;
box-shadow: 0 0 0 0.15em #EDEEE8;
}
.twitter::after {
left: 0.87em;
top: 1.143333em;
position: absolute;
display: block;
content: "";
height: 0.32em;
width: 0.62em;
background: #2C2C2C;
border-radius: 0 0.4em 0.4em 0;
box-shadow: 0 -0.57em 0 -0.15em #2C2C2C,-0.2em -0.57em 0 -0.15em #2C2C2C,0 -0.57em 0 0em #EDEEE8;
border: 0.15em solid #EDEEE8;
border-left: 0;
}
