<form>
	<div class="grid center grid-pad">
		<div class="col-4-12">
			Creator:<br>
			<input ng-model="form.author" id="author">
		</div>
		<div class="col-4-12">
			Word:<br>
			<input ng-model="form.word" id="word">
		</div>
		<div class="col-4-12">
			Pronunciation:<br>
			 <input ng-model="form.pro" id="pro">
		</div>
	</div>
		<div class="grid center">
			<br>
			Definition:<br>
			<textarea ng-model="form.definition" id="definition">definition</textarea>
		</div>
	</div>
</form>
<div id="preview" class="grid grid-pad">
	<div class="">
		{{form.authorPreview(form.author)}}
	</div>
	<div class="col-3-12">
		{{form.wordPreview(form.word)}}
	</div>
	<div class="col-3-12">
		{{form.proPreview(form.pro)}}
	</div>
	<div class="col-6-12">
		{{form.definition}}
	</div>
</div>
