img {
	max-width:99999px;
}

.services a {
    color: #165c64;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    text-transform: uppercase;
    font-weight: 900;
}
.services a:hover {
    color:#f8ae37;
}
#map-canvas {
	height:100%;
	max-height:400px;
	max-width:800px;
	margin:0 auto;
	margin-top:20px;
    width:90%;
}


.section {
    height:700px;
    padding-bottom:180px;
}
.section p {
    width:80%;
    margin:0 auto;
    padding-top:1em;
}
.form {
padding: 0;
width: auto;
}

#placeForm {
	margin:0 auto;
  text-align: center;
}

button {
    font-family: inherit;
    font-size: 100%;
    *font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
    *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    padding: 0.5em 1em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    *color: #444; /* IE 6 & 7 */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

button-hover,
button:hover,
button:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
button:focus {
    outline: 0;
}
button-active,
button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
}

@media only screen and (max-width:320px) and (min-width:240px) {
    #placeForm input {
        max-width:250px;
    }

    .services {
        padding-top:6em;
    }
}
