<div id="footer-border"></div>
<div class="footer">

  hosted with <a class="red-link" href='http://www.github.com'>Github pages</a>

  <a class="right right-footer" href="https://github.com/ETNOL"><span class="that-blue mega-octicon octicon-mark-github"></span></a>
  <a class="twitter right right-footer" href="https://twitter.com/Eric_Nolte"><img class="twitter" src="../images/Twitter_logo_blue.png"></a>

  <a id='pair' class="right-footer right" href="mailto:amishe@gmail.com" title="Pair program with me!"><img width="100" height="30" src="http://pairprogramwith.me/badge.png"
alt="Pair program with me!" />
</a>
</div>
