<div id="sideMenu" ng-cloak class={{body.sidemenu}}>
  <h2 class="center">Playground</h2>
  <ul>
    <li>
      <div>
       <a href='http://codepen.io/amishstripclub/pen/pjMVZO'>Interactive Map</a> <span class="octicon octicon-location"></span>
      </div>
      <div>
        Uses Firebase &amp; Google Places
      </div>
    </li>
    <li>
      <div>
        <a href='http://correlateme.herokuapp.com'>CorrelateMe</a><span class="octicon octicon-graph "></span>
      </div>
      <div>
        Angular/Rails-API app presenting survey data taken anonymously from users
      </div>
    </li>
    <li>
      <div>
        <a href='http://etnol.github.io/personal_projects/paint_store/index.html'>Paint Store Express</a><span class="octicon octicon-paintcan"></span>
      </div>
      <div>
        Mini-game built with Angular and jQuery
      </div>
    </li>
    <li>
      <div>
        <a href='http://codepen.io/amishstripclub'>My Codepen</a><span class="octicon octicon-light-bulb"></span>
      </div>
      <div>
        My scratchpad of coding solutions and ideas.
      </div>
    </li>
  </ul>
</div>
