<div id="sideMenu" class={{body.sidemenu}}>
  <h2 class="center">Practice projects</h2>
  <ul>
    <li>
      <div>
        <a href='../projects/keypad.html'>Keypad</a>
      </div>
      <div>
        Keypad made with jQuery
      </div>
    </li>

    <li>
      <div>
        <a href='../projects/googlemap.html'>Interactive Map</a>
      </div>
      <div>
        Uses Firebase &amp; Google Places
      </div>
    </li>
    <li>
      <div>
        <a href='../projects/ericular.html'>Angular.js Example</a>
      </div>
      <div>
        A practice in Angular
      </div>
    </li>
  </ul>
  <hr>
  <h2 class="center">Client projects</h2>
  <ul>
    <li>
      <div>
        <a href='http://safe-wave-1032.herokuapp.com/'>Foliage Inventory System</a>
      </div>
      <div>
        Using Rails &amp; jQuery
      </div>
    </li>
    <li>
      <div>
        <a href='http://www.fivestarimports.net'>Five Star Imports</a>
      </div>
      <div>
        Mobile Responsive Webapp
      </div>
    </li>

    <li>
      <div>
        <a href='http://www.whistlingpinesfoliage.com'>Whistling Pines Foliage</a>
      </div>
      <div>
        Static Website with API feeds
      </div>
    </li>

  </ul>
</div>

