<div id="sideMenu" ng-cloak class={{body.sidemenu}}>
  <h2 class="center">Personal projects</h2>
  <ul>
    <li>
      <div>
       <a ng-click="body.setGoogleMap()" href=''>Interactive Map</a> <span class="octicon octicon-location"></span>
      </div>
      <div>
        Uses Firebase &amp; Google Places
      </div>
    </li>
    <li>
      <div>
        <a href='http://correlateme.herokuapp.com'>CorrelateMe</a><span class="octicon octicon-graph "></span>
      </div>
      <div>
        Angular/Rails-API app presenting survey data taken anonymously from users
      </div>
    </li>
    <li>
      <div>
        <a href='http://etnol.github.io/personal_projects/paint_store/index.html'>Paint Store Express</a><span class="octicon octicon-paintcan"></span>
      </div>
      <div>
        Mini-game built with Angular and jQuery
      </div>
    </li>
  </ul>


  <h2 class="side-border center">Client projects</h2>
  <ul class="external">
    <li>
      <div>
        <a href='http://www.adventureforbreakfast.com' class="popup">Adventure for Breakfast</a>
      </div>
      <div>
        Personal Site for My Wife and Me!
      </div>
    </li>
    <li>
      <div>
        <a href='http://safe-wave-1032.herokuapp.com/' class="popup">Foliage Inventory System</a>
      </div>
      <div>
        Using Rails &amp; jQuery
      </div>
    </li>
    <li>
      <div>
        <a class="popup" href='http://www.fivestarimports.net'>Five Star Imports</a>
      </div>
      <div>
        Mobile Responsive Webapp
      </div>
    </li>

    <li>
      <div>
        <a class="popup" href='http://www.whistlingpinesfoliage.com'>Whistling Pines Foliage</a>
      </div>
      <div>
        Static Website with API Feeds
      </div>
    </li>

  </ul>
</div>

